<html>
    <head>
        <meta charset='utf-8'/>
        <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="stylesheets/styles.css"/>
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'/>

        <title>Static Backtester</title>
    </head>

    <body class="col-md-8 col-centered">
        <header>
            <div>
                <h1>
                    Backtest Static Portfolios
                </h1>
            </div>
        </header>

        <div ng-app="portfolio">
            <!--add stocks to db-->
            <div ng-model="SecurityController" class="col-centered">
                <!--need text entry fields and collapsible div-->
                <p>Update or Add a security. Quandl code needed</p>
                <input type="text" ng-bind="identifier" placeholder="Enter Quandl code">
                <input type="text" ng-bind="ticker" placeholder="enter general ticker">
                <input type="text" ng-bind="name" placeholder="enter name for security">
            </div>

            <!--add portfolio or change holdings to a portfolio-->
            <div>
                <!--text entry fields for this here-->
            </div>

            <!--choose portfolio and calculate-->
            <div>
                <!--choose name of portfolio and a button to calculate-->
            </div>

            <!--section for the chart-->
            <div ng-controller="PortfolioController">
                <!--add the chart div from Eve trading-->
                <input type="number" ng-bind="portfolio_id" placeholder="portfolio_id">
                <input type="text" ng-bind="start_date" placeholder="yyyy-mm-dd">
                <input type="text" ng-bind="end_date" placeholder="yyyy-mm-dd">
                <input type="number" ng-bind="amount" placeholder="starting amount">
                <button ng-click="init_data()">Backtest</button>
                <stock-chart data="data" class="col-centered col-md-6">

                </stock-chart>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="javascript/ui-bootstrap.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="http://techanjs.org/techan.min.js"></script>
        <script src="javascript/controllers.js"></script>

    </body>


</html>
